@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  font-size: 16px;
}

h4 {
  color: #526371;
}

img {
  width: 100%;
  height: auto;
}

.arrowUp {
  position: fixed;
  margin-left: 93%;
  top: 85%;
  z-index: 99;
  background: rgba(50, 50, 50, 0.749);
}

.arrowUp i {
  color: #ffffff;
  border: 1px solid #0c2359;
  padding: 15px 15px;
}

@media (max-width: 600px) {
  .arrowUp {
    margin-left: 80%;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
}

.navbar .burguer-menu {
  display: none;
  border: 1px solid #121212;
  padding: 10px 15px;
  border-radius: 40px;
}

.navbar .list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .list-menu .items-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar .list-menu .items-menu a {
  text-decoration: none;
  color: #0c2359;
  font-weight: 500;
  border-right: 2px solid #0c2359;
}

.navbar .list-menu .items-menu a:nth-last-child(1) {
  border-right: none;
  margin-right: 20px;
}

.navbar .list-menu .items-menu a li {
  margin: 0 10px;
}

@media (max-width: 600px) {
  .items-menu {
    display: none !important;
  }
  .burguer-menu {
    display: block !important;
  }
}

.card-img {
  text-align: center;
}

.card-img img {
  max-width: 150px;
  margin: 0 auto;
}

main #portada .banner {
  width: 100%;
  height: 500px;
  background-image: url(../img/banner-1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

main #pruebas-pulmonares {
  background-image: url(../img/funcionpulmonar.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

main #pruebas-pulmonares .title-pulmonar {
  font-weight: 600;
  color: #fff;
}

main #pruebas-pulmonares .card {
  background: none;
  border: none;
  padding: 1.625rem;
}

main #pruebas-pulmonares .card .card-body h6 {
  color: #fff;
  font-size: 1.125rem;
}

main #pruebas-pulmonares .card .card-footer {
  background: none;
  border: none;
}

main #pruebas-pulmonares .card .card-footer a {
  text-decoration: none;
  color: #0c2359;
}

main #pruebas-intercambio h2 {
  color: #526371;
}

main #pruebas-intercambio .card {
  border: none;
}

main #estudios-sueño {
  background-image: url(../img/call-to-action.jpg);
}

main #estudios-sueño h2 {
  color: #fff;
}

main #estudios-sueño .card {
  background: none;
  border: none;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #estudios-sueño .card .card-body h6 {
  color: #ffffff;
}

main #nuestros-productos h2 {
  color: #526371;
  font-weight: 900;
}

main #nuestros-productos h5 {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.925rem;
}

main #nuestros-productos .n-productos {
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  text-align: center;
  border: none !important;
  border-radius: none !important;
}

main #nuestros-productos .n-productos:nth-child(1) {
  background-image: url(../img/espirometros.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main #nuestros-productos .n-productos:nth-child(2) {
  background-image: url(../img/sueño.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main #nuestros-productos .n-productos:nth-child(3) {
  background-image: url(../img/oxigeno.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main #laboratorio {
  background: #eaeaea;
}

main #laboratorio span {
  font-weight: 700;
}

main #sevicios h1 {
  font-weight: normal;
  font-size: 2rem;
  color: #526371;
}

main #sevicios h4 a {
  font-size: 1.525rem;
  text-decoration: none;
  color: #526371;
}

main #sevicios h4 a:hover {
  color: #0c2359;
}

@media (max-width: 900px) {
  main .contain-estudios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .contain-estudios img {
    width: 70%;
  }
  main .contain-estudios h4 {
    text-align: center;
    margin-top: 120px;
  }
}

main #paquetes {
  background: #eaeaea;
}

main #paquetes h2 {
  color: #526371;
}

main #paquetes h4 a {
  font-size: 1.125rem;
  text-decoration: none;
  color: #526371;
}

main #paquetes h4 a:hover {
  color: #0c2359;
}

main #paquetes .text-justify {
  text-align: justify;
  color: #8c8c8c;
}

main #educaion_med {
  width: 100%;
  height: 500px;
  background-image: url(../img/curso8.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main #videos {
  background: #eaeaea;
}

main #videos button {
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background: #0c2359;
}

main #videos button:hover {
  background: #ecd033;
}

main #alumnos .bg-azul {
  background: #0c2359;
  border-radius: 4px;
}

main #alumnos .bg-azul a {
  text-decoration: none;
  color: #ffffff;
}

main #alumnos .bg-azul:hover {
  background: #ecd033;
}

main #alumnos input[type="text"], main #alumnos input[type="email"], main #alumnos input[type="tel"], main #alumnos textarea {
  border-radius: 0;
  border: none;
  background: #4ad6e0;
  color: #fff;
}

main #alumnos input[type="text"]:focus, main #alumnos input[type="email"]:focus, main #alumnos input[type="tel"]:focus, main #alumnos textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #fff;
  color: #8c8c8c;
}

main #alumnos button {
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background: #0c2359;
}

main #alumnos button:hover {
  background: #ecd033;
}

@media (max-width: 500px) {
  main .container-alumnos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .title-alumnos {
    text-align: center;
  }
}

footer {
  background: #3e4144;
}

footer .list-footer {
  list-style: none;
}

footer .list-footer li {
  color: #ffffff;
}

footer .list-footer span {
  font-weight: bold;
}

footer .redes-sociales ul {
  list-style: none;
}

footer .redes-sociales a {
  text-decoration: none;
}

footer .redes-sociales a i {
  color: #919191;
  font-size: 2rem !important;
}

footer .footer-color-1 {
  background: #8c8c8c;
}

footer .footer-color-1 p {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */